*{
    margin: 0px;
    box-sizing: border-box;
}

.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.seccion-contactos {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    width: 100%;
    gap: 50px;
    padding:20px 10px;
}

.estado-usuario {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding-inline-start: 40px;
    font-size: 20px;
}

.estado-usuario p {
    color: #BEC1BB;
    font-size: 15px;
}

.datos-usuario {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.sidebar {
    display: flex;
    flex-flow: column nowrap;
}

.contact-list {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    list-style: none;
    gap: 20px;
}

.tarjeta-contacto {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 20px;

}

.estado-contacto {
    font-size: 20px;

}


.nuevo-chat {
    padding-inline-start: 40px
}

.seccion-principal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-grow: 2;
}

.foto-usuario {
    max-width: 80px;
}

.foto-usuario img {
    max-width: 100%;
    border-radius: 50%
}

.foto-contacto{
    max-width: 100px;
}

.foto-contacto img {
    max-width: 100%;
    border-radius: 50%
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}