*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #E8EBE4;
}

.seccion-contactos {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    width: 100%;
    gap: 30px;
    border-right: 1px solid #bec1bb;
    border-bottom: 3px solid #bec1bb;
    background-color: white;
    padding-left: 20px;
}

.estado-usuario {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    font-size: 20px;
    border-bottom: 3px solid #bec1bb;
}

.estado-usuario p {
    color: #828485;
    font-size: 15px;
}

.datos-usuario {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.sidebar {
    display: flex;
    flex-flow: column nowrap;
    border-top: 3px solid #bec1bb;
}

.contact-list {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    list-style: none;
}

.tarjeta-contacto {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    border-bottom: 3px solid #bec1bb;
    gap: 20px;
    padding: 15px;
    max-width: 100%;
}

.estado-contacto {
    font-size: 20px;
    width: 300px;
    max-width: 100%;
}


.nuevo-chat {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.nuevo-chat button {
    background-color: #A491D2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    width: 200px;
    height: 50px;
}

.seccion-principal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-grow: 2;
    text-align: center;
    max-height: 100%;
    max-width: 100%;
    font-size: 25px;
    gap: 30px;
    background-color: #E8EBE4;
}

.seccion-principal h1 {
    font-size: 70px;
}
.seccion-principal span {
    font-weight: bold;
}

.logo img {
    height: 350px;
    max-height: 100%;
}

.foto-usuario {
    max-width: 68px;
}

.foto-usuario img {
    max-width: 100%;
    border-radius: 50%
}

.foto-contacto {
    max-width: 80px;
}

.foto-contacto img {
    max-width: 100%;
    border-radius: 50%;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}